html
{
    width: 400px;
    height: 400px;
    box-sizing: border-box;
}

body
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 90vh; */
    background: #10131c;
}

.popupNavigation
{
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 15%;
    cursor: pointer;
    background: #212532;
    transition: 0.5s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.popupNavigation:hover
{
    width: 200px;
    height: 200px;
}

.navigationDot
{
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 50%;

    transition: transform 0.5s, width 0.5s, height 0.5s, background-color 0.5s;
}


